# Arquivos temporários do R/RStudio (**/ faz com que qualquer arquivo de qualquer pasta com a extensão )
**/.RData 
**/.Rhistory
**/*.Rproj.user/
**/*.Rproj

# Arquivos de dados temporários
**/*.Rds
**/*.rds

# Outros arquivos desnecessários
**/*.DS_Store
**/Thumbs.db
**/*.Rproj.user
Código PNADc com PESOS/surveyPNAD.rds
